{{define "Index"}}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="../assets/css/reset.css" rel="stylesheet" />
    <link href="../assets/css/normalize.css" rel="stylesheet" />
    <link href="../assets/css/index.css" rel="stylesheet" />
    <title>Transações</title>
  </head>
  <body>
    <form
      enctype="multipart/form-data"
      action="http://localhost:8000/"
      method="post"
    >
      <h1>Importar Transações</h1>
      <input class="upload" type="file" name="arquivo" id="arquivo" />
      <b>Selecione o arquivo para realizar o upload</b>
      <input class="upload-botao" type="submit" value="Importar" />
    </form>
  </body>
</html>

{{end}}
